.header {

    background: #36494E;
    height: 170px;
    display: flex;
    align-items: center;

    h1 {

        color: white;
        margin-left: 30%;
    }


}

.projets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.projet {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    margin: 10px;

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    span {
        font-size: 15px;

    }


    a {
        text-decoration: none;
        color: white;
        border-radius: 3px;
        background-color: orange;
        padding: 15px 33px 15px 33px;
        margin-top: 30px;
        font-size: 12px;
    }
}

@media (max-width : 600px) {}