.contact {
    background: #36494E;
    color: white;
    padding: 90px 0 70px 150px;

    div {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 26px;
        font-weight: 300;
        line-height: 36px;
    }
}

img {
    height: 38px;
    margin-right: 5px;
}